body {
    background: rgb(205, 205, 205);
}

h1 {
    margin-bottom: 25px;
    color: teal;
}

hr {
    padding: 10px;
}
p {
    margin-bottom: 20px;
}

.latcolor {
    padding: 8px;
    font-weight: 800;
    color: #fff !important;
    background-color: teal;
}


.box{
    background: white;
    padding: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}


.imagevis {
    width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}


.box > imagevis {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }


#image {
    height: 200px;
    width: 200px;
    padding: 8px;
}


.image {
    width: 140px;
    height: 140px;
    padding: 5px;
}


.box > image {
    object-fit: cover;
    width: 50%;
    max-height: 50%;
    }

.compareimage {
    width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.compareimage:hover {
    border: 3px solid teal;
    cursor: pointer;
}

.selectimage:hover {
    border: 3px solid rgb(4, 0, 135);
    cursor: pointer;
}

.box > h1 {
    word-wrap: break-word;
}
       

.inline {
    float: inline-start;
    margin: 10px 10px 0px 10px;
}

.selected {
    border: 3px solid teal;
}

.center {
    text-align: center;
    color: teal;
}

#clicktext {
    font-size: smaller;
}


/* includes alternating gray and white with on-hover color */
.table {
    font-size: 11pt; 
    font-family: Arial;
    border-collapse: collapse; 
    border: 1px solid silver;
}

.table td, th {
    padding: 5px;
}

.table tr:nth-child(even) {
    background: #E0E0E0;
}

.table tr:hover {
    background: silver;
}



@media (max-width: 755px){
    body {
        background: white;
    }

    h1 {
        margin-bottom: 15px;
        font-size: 20px;
    }

    #clicktext{
        font-size: smaller;
    }

    .box{
        background: white;
        padding: 10px;
        margin-top: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .box > image {
        object-fit: cover;
        width: 50%;
        max-height: 50%;
        }
}